<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despachante</title>
</head>
<body>
    <h1>Despachante</h1>
    <h2>Lista de sucursales</h2>
    <h3>Seleccione una provincia para realizar operaciones</h3>
    <form class="content" method="POST" action="{{ url_for('funcionalidadesucu') }}">
        <span class="title"> Seleccione una sucursal: </span>
        <select class="cardSelect" name="sucursal.id" id="id">
          <option value="0"> Sucursal</option>
          {%for sucursal in sucursales%}
          <option value="{{sucursal.id}}">
            {{sucursal.numero}} {{sucursal.provincia}} {{sucursal.localidad}}
          </option>
          {%endfor%}
        </select>
        <p class="desc">
          
        </p>
  
        <button class="buttonSubmit" type="submit">
          Enviar
          <span aria-hidden="true"> → </span>
        </button>
</body>
</html>