<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar salida transporte</title>
</head>
<body>
    <h1>Registre la salida de un transporte</h1> 
    <h2>elija una sucursal</h2>
  
    <form class="content" method="POST" action="{{ url_for('registrar_salida_trans', sucursal_id=sucursal.id) }}">
        <span class="title"> Seleccione una sucursal: </span>
        <select class="cardSelect" name="id" id="id">
        <option value="0"> Sucursal</option>
        {%for sucursal in sucursales%}
            
                <option value="{{sucursal.id}}">
                {{sucursal.numero}} {{sucursal.provincia}} {{sucursal.localidad}}
                </option>
            
        {%endfor%}
        </select>
        <select class="cardSelect" name="id" id="id">
            <option value="0"> Paquete</option>
            {%for paquete in paquetes_nodisponible%}
                    <option value="{{paquete.id}}">
                    {{paquete.numeroEnvio}} {{paquete.dirdestinatario}}
                    </option>
            {%endfor%}
            </select>

        
        <p class="desc">
        
        </p>
  
        <button class="buttonSubmit" type="submit">
        Registrar transporte
        <span aria-hidden="true"> → </span>
        </button>
    </form>
</body>
</html>